.chat-box {
  background: lighten($light-gray, $amount: 4);
  height: 100vh;
  max-width: 420px;

  .chat-box__header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .header__logo {
      height: 56px;
      .header__home-icon {
        position: absolute;
        left: 0;
        height: 28px;
        margin-left: 12px;
      }
      img:not(.header__home-icon) {
        height: 48px;
      }
    }

    .header__operator {
      height: 52px;
      color: white;
      background: $primary;
      box-shadow: $box-shadow;
      border-bottom-right-radius: 26px;
      border-bottom-left-radius: 26px;
      overflow: hidden;
      transition: height 200ms ease;
    }

    .operator__collapse {
      height: 0px !important;
      overflow: hidden !important;
      transition: height 200ms ease;
    }
  }

  .chat-box__container {
    margin-top: 60px;
    height: calc(100% - 100px);
  }

  .chat-box__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
  }
}

.simple-message {
  max-width: 360px;
  background: white;
  // border: 2px solid red;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  .user-image {
    height: 30px;
    width: 30px;
    padding: 3px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $primary;
    background: rgba(0, 0, 0, 0.03);
    margin-left: -18px;
  }
}

.drop-box-holder {
  width: 320px;
  height: 120px;
  border-radius: 4px;
  background: lighten($primary, 15);
  .drop-box {
    border-radius: 4px;
    border: 1px dotted $primary;
  }
}
