.container {
  max-width: 1000px;
  margin: 0px auto;
}
.border-radius-none {
  border-radius: 0px !important;
}
.card-hover {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  }
}
.circular-image {
  height: 48px !important;
  width: 48px !important;
  border-radius: 50%;
  overflow: hidden;
}
.big-circular-image {
  height: 200px !important;
  width: 200px !important;
  border-radius: 50%;
  overflow: hidden;
}
.pre {
  white-space: pre-wrap;
}
.display-none {
  display: none;
}
.drop-shadow {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}
.scroll-y {
  overflow-y: scroll;
}
.overflow-hidden {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 8px;
}
