$white: #ffffff;
$black: rgba(0, 0, 0, 0.87);
$light-gray: #f1f0f0;
$brand: #ff8e9d;
$brand-active: darken($brand, 10);
$primary: $brand;
$primary-lite: #f6c9cf;
$secondary: #ed1156;
$error: #ff0c3d;
$topbar-mobile-width: 220px;
$box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
